*{
    margin:0;
    padding:0;
}
.navigation{
ul.parent{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color:grey;
    height: 50px;
    width: 100%;
    li{
        position: relative;
        a{
            top: 5px;
            padding:5px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 25px;
            color: #fff;
            background-color: gold;
            &:hover{
                color:red;
            }
        }
        ul{
            position: absolute;
            display: none;
            background-color: gray;
            list-style: none;
            width: 120px;
            top: 24px;
        }
        &:hover{
            ul{
                display: block;
            }
        }
    }
}
}
.header{
    top: 100px;
    height: 100%;
    width: 100%;
}


.content{
    .products{
        display: flex;
            flex-wrap: wrap;
            float: left;
            padding: 10px;
            justify-content: space-between;
           
        li{
            
            list-style: none;
            position: relative;
            width: 200px;
            height: 200px;
            background-color: gray;
            
            button{
                position: absolute;
                bottom: 0;
                width: 100%;
                border: none;
                background-color: green;
                color: #fff;
                &:hover{
                    color: red;
                    background-color: #fff;
                    cursor: pointer;
            }
            }
            img{
                position: absolute;
                height: 80%;
                width: 80%;
                left: 10PX;
                bottom: 30px;
                
            }
        }  
    }
}
