*{
    margin:0;
    padding:0;
}
.navigation{
ul.parent{
    padding-left: 10px;
    list-style: none;
    display: flex;
    justify-content: start;
    background-color:grey;
    height: 50px;
    width: 100%;
    bottom: 10px;
    li{
        position: relative;
        padding-left: 10px;
        a{
            padding:5px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 25px;
            color: #fff;
            background-color: gray;
            &:hover{
                color:red;
            }
        }
        ul{
            position: absolute;
            display: none;
            background-color: gray;
            list-style: none;
            width: 120px;
            top: 24px;
        }
        &:hover{
            ul{
                display: block;
            }
        }
    }
}
}